---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for entry in collections.all | publicSitemapEntries(site.sitemapExtraUrls, site.domainUrl, archive, collections.posts) %}
  <url>
    <loc>{{ entry.loc }}</loc>
    {%- if entry.lastmod %}
    <lastmod>{{ entry.lastmod }}</lastmod>
    {%- endif %}
  </url>
{%- endfor %}
{%- for term in taxonomy.categories %}
{%- if term.indexable %}
  <url>
    <loc>{{ site.domainUrl }}{{ term.url }}</loc>
  </url>
{%- endif %}
{%- endfor %}
{%- for term in taxonomy.tags %}
{%- if term.indexable %}
  <url>
    <loc>{{ site.domainUrl }}{{ term.url }}</loc>
  </url>
{%- endif %}
{%- endfor %}
{%- for term in taxonomy.status %}
{%- if term.indexable %}
  <url>
    <loc>{{ site.domainUrl }}{{ term.url }}</loc>
  </url>
{%- endif %}
{%- endfor %}
{%- for term in taxonomy.systems %}
{%- if term.indexable %}
  <url>
    <loc>{{ site.domainUrl }}{{ term.url }}</loc>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
