---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for url in collections.all | publicSitemapUrls(site.sitemapExtraUrls, site.domainUrl, archive) %}
  <url>
    <loc>{{ url }}</loc>
  </url>
{%- endfor %}
{%- for term in taxonomy.categories %}
  <url>
    <loc>{{ site.domainUrl }}{{ term.url }}</loc>
  </url>
{%- endfor %}
{%- for term in taxonomy.tags %}
  <url>
    <loc>{{ site.domainUrl }}{{ term.url }}</loc>
  </url>
{%- endfor %}
{%- for term in taxonomy.status %}
  <url>
    <loc>{{ site.domainUrl }}{{ term.url }}</loc>
  </url>
{%- endfor %}
{%- for term in taxonomy.systems %}
  <url>
    <loc>{{ site.domainUrl }}{{ term.url }}</loc>
  </url>
{%- endfor %}
</urlset>
